<div class="formulario">
    <div class="seccion">
        <label for="descripcion">Descripción</label>
        <input type="text" id="descripcion" placeholder="Escriba cual es la tarea">
    </div>
    
    <div class="seccion">
        <label for="fecha">Fecha y hora</label>
        <input type="text" id="fecha" placeholder="Indique fecha y hora">
    </div>
    
    <section>
        <button class="btn">Guardar Tarea</button>
        <button class="btn">Limpiar formulario</button>
    </section>
</div>
